@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --color1: #00202e;
    --color2: #4a9396;
    --color3: #fdd03b;
    --color4: #cb7f07;
    --color5: #291907;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shantell Sans', cursive;
}

.container{
    margin: 0 80px;
}

main{
    color: var(--color1);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.boton1, 
.descarga{
    background-color: var(--color3);
}

.boton2{
    background-color: var(--color1);
    margin-left: 10px;
    color: var(--color4);
}

.boton1,
.boton2,
.descarga{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 10px var(--color5);
}

.boton1:hover, 
.boton2:hover{
    transform: scale(1.1);
    transition: 1s;
}

.descarga:hover{
    background-color: var(--color1);
    color: var(--color4);
    transition: .5s;
}

.titulo{
    text-align: center;
}

/*----------------------Header-----------------------*/

header{
    background-color: var(--color1);
}

.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-style: italic;
}

.encabezado__nombre{
    color: var(--color3);
    font-size: 3rem;
    padding-right: 50px;
}

.encabezado__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.encabezado__menu li a{
    padding: 10px;
    color: var(--color3);
    font-weight: bold;
}

.encabezado__menu li a:hover{
    color: var(--color1);
    background-color: var(--color3);
    border-radius: 5px;
    transition: .5s;
}

/*----------------------Banner-----------------------*/

.banner{
    display: flex;
    margin: 30px 0;
}

.banner__texto{
    width: 75%;
    padding-right: 30px;
    margin: auto 0;
}

.banner__texto h1{
    font-size: 2rem;
}

.banner__texto h1 i{
    color: var(--color4);
}

.banner__redes{
    display: flex;
    width: 100%;
    justify-content: start;
}

.banner__redes li{
    padding-right: 2rem;
    margin: auto 0;
}

.banner__redes li a{
    color: var(--color1);
}

.banner__redes li a i{
    font-size: 2rem;
    text-shadow: 5px 5px 10px var(--color5);
}

.banner__redes li a i:hover{
    transform: rotateX(360deg);
    transition: ease-in-out 1s;
}

.banner__foto{
    border: var(--color4) double 8px;
    border-radius: 50%;
    width: 25%;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--color5);
    height: fit-content;
    margin: auto 0;
}

.banner__foto img{
    width: 100%;
    object-fit: cover;
}

/*----------------------About-----------------------*/

#sobre-mi{
    background-color: var(--color2);
}

.about{
    padding: 60px 0;
    width: 75%;
}

/*----------------------Skills-----------------------*/

.habilidades{
    padding-top: 60px;
}

.habilidades__lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.item{
    border-radius: 5px;
    box-shadow: inset .1px .1px 5px var(--color5), 4px 4px 10px var(--color5);
    font-weight: bold;
    margin: 0 10px 20px 10px;
    padding: 10px;
    width: 200px;
}

.item i{
    font-size: 4rem;
}

/*----------------------Hobbies-----------------------*/

.pasatiempos{
    margin-top: 30px;
    padding-bottom: 50px;
}

.pasatiempos__lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/*----------------------Studies-----------------------*/

#studies{
    background-color: var(--color2);
}

.formacion{
    padding: 60px 0 50px 0;
}

.formacion h2{
    margin-bottom: 20px;
}


.formacion__lista{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.formacion__escuela{
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    box-shadow: 2px 2px 10px var(--color5);
}

.formacion__frame{
    height: 200px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formacion__escuela img{
    width: 100%;
    height: 200px;
    padding: 20px;
    object-fit: contain;
}

/*----------------------Projects-----------------------*/

.proyectos{
    padding: 60px 0 40px 0;
}

.proyectos h2{
    margin-bottom: 20px;
}

.proyectos__lista__tarjeta{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.proyecto__tarjeta__frame{
    width: 60%;
    text-align: center;
    border-radius: 10px;
    border: solid 2px var(--color4);
    box-shadow: 1px 1px 10px var(--color5);
    overflow: hidden;
}

.proyecto__tarjeta__frame img{
    width: 100%;
    object-fit: cover;
}

.proyecto__tarjeta__texto{
    width: 35%;
    margin: auto 0;
}

.proyecto__badge span{
    background-color: var(--color2);
    font-size: .8rem;
    filter: opacity(.9);
    padding: 5px;
    border-radius: 10px;
}

.proyecto__boton{
    display: flex;
}



/*----------------------Contact-----------------------*/

#contact{
    background: url(../img/botella-msj.jpg) ;
    background-position: center;
    background-size: cover;
}

.datos-de-contacto{
    padding: 60px 0;
    width: 500px;
}

.datos-de-contacto form{
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    padding: 20px;
    border-radius: 10px;
    filter: opacity(.8);
    box-shadow: 2px 2px 10px var(--color5);
}

input{
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding-left: 5px;
    box-shadow: 2px 2px 10px var(--color5);
}

textarea{
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    padding-left: 5px;
    box-shadow: 2px 2px 10px var(--color5);
}

input:focus,
textarea:focus{
    outline-color: var(--color3);
}

button{
    width: 120px;
    margin: 0 auto;
}

button:hover{
    background-color: var(--color1);
    color: var(--color4);
}

/*----------------------Footer-----------------------*/

footer{
    background-color: var(--color1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: var(--color4);
    font-weight: bold;
}

